extends layouts/base.html
block body
  .consumer.profile.container
    .row
      .col-sm-4.col-sm-push-8
         .thumb-container.large
           -if consumer.avatar
             img(src="#{consumer.avatar.lg_thumb}")
           -else
             img(src="http://placehold.it/300x300")

         h1 #{consumer.user.first_name} #{consumer.user.last_name}

      .col-sm-8.col-sm-pull-4
        .row
          .col-sm-12
            -if consumer.hair_status == ''
              h2 Default
            -else
              h2= consumer.hair_status

        .row
          .col-sm-12
            h3 This is my hair story:
            -if consumer.hair_journey == ''
              p My story is still in the works!
            -else
              p= consumer.hair_journey

        .row
          .col-sm-12
            h3 My Hair Consultation:
            p= consumer.hair_routine.hair_condition
            p= consumer.hair_routine.chemical_treat
            p= consumer.hair_routine.last_treatment
            p= consumer.hair_routine.fav_style
            p= consumer.hair_routine.shampoo_style
            p= consumer.hair_routine.shampoo_frequency
            p= consumer.hair_routine.scalp_condition
            p= consumer.hair_routine.last_trim

        .row
          .col-sm-12
            h3 My Favorite HairShops:
            -each fav in consumer.favorites
              fav.business_name 
