extends layouts/base.html
block body
  .provider.dashboard.container
    .row
      .col-sm-12
        .banner
          -if provider.banner
            img.img-responsive(src="#{provider.banner.url}")
          -else
            img.img-responsive(src="http://placehold.it/1200x350&text=Banner")

          -if provider.avatar
            .thumb-container.large.portrait
              img.img-responsive(src="#{provider.avatar.sm_thumb}")
          -else
            img.img-responsive.portrait(src="http://placehold.it/165x165")

    .row
      .col-sm-6
        h1= provider.business_name

        h4 #{provider.favorited_by.all() | count} consider us a favorite
        p.phone= provider.phone

        -if current_user.consumer
          .row 
            .col-sm-12
              a.btn.btn-cta(href="#{ url_for('frontend.favorite', provider_id=provider.id) }")
                span.glyphicon.glyphicon-star-empty  Favorite Us!



      .col-sm-6
        table.table
          thead
            tr
              th Today
              th Open
              th Close

          tbody
            tr
              td Mon
              td 8
              td 9

        a(data-toggle="modal", data-target="#hours-modal") View More Hours

        address
          p #{provider.address.street_1} #{provider.address.street_2}
          p #{provider.address.city}, #{provider.address.state}


    .row.paper-bg
      .col-sm-3
        h4 We Accept:
      .col-sm-9
        ul.payment-methods
          -if provider.payment_methods == ''
            li
              p Nothing? 
              p.
                This provider probably wants to take your money, but they need to list a payment
                method to do it!
          -else
            -each method in provider.payment_methods.split(' ')
              li
                img(src="/static/img/icons/#{method}.png", title="#{method}")
                p= method | capitalize

    .row
      .col-sm-8
        .row
          .col-sm-12
            h2 Our Work
            .row.gallery
              -each pic in provider.gallery.photos
                .col-sm-3
                  .thumb-container.small
                    img.img-responsive(src="#{pic.sm_thumb}")
        .row
          .col-sm-12
            h2 Happy Customers
            .row
              -if provider.favorited_by.all() | count == 0
                .col-sm-12
                  h2 Be the first to make this a favorite!

              -else
                -each fav in provider.favorited_by.all()
                  .col-sm-3
                    a(href="")
                      div
                        .thumb-container.small
                          -if fav.avatar.sm_thumb
                            img(src="#{fav.avatar.sm_thumb}")
                          -else
                            img(src="http://placehold.it/250x250")
                        p.caption #{fav.user.first_name}
      .col-sm-4
        h2 Menus
        -each menu in provider.menus
          .row
            .col-sm-12
              h3= menu.menu_type
              table.table.salon-menu
                thead
                  tr
                    th Name
                    th Desc
                    th Price

                tbody
                -each item in menu.menu_items
                  tr
                    td Hair Cut
                    td We cut your hair with scissors
                    td 15.00


  #hours-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h1 The Hours
        .modal-body
          table.table.hours
            thead
              tr
                th Day
                th Open
                th Close

            tbody
              tr
                td Monday
                td= provider.hours.monday_open
                td= provider.hours.monday_close

              tr
                td Tuesday
                td= provider.hours.tuesday_open
                td= provider.hours.tuesday_close

              tr
                td Wednesday
                td= provider.hours.wednesday_open
                td= provider.hours.wednesday_close

              tr
                td Thursday
                td= provider.hours.thursday_open
                td= provider.hours.thursday_close

              tr
                td Friday
                td= provider.hours.friday_open
                td= provider.hours.friday_close

              tr
                td Saturday
                td= provider.hours.saturday_open
                td= provider.hours.saturday_close

              tr
                td Sunday
                td= provider.hours.sunday_open
                td= provider.hours.sunday_close

        .modal-footer

  #gallery-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2.modal-title
        .modal-body
          img#gallery-image(src="", title="")
        .modal-footer
          button#gallery-next.btn.btn-default(type="button", data-next="") Next
          button#gallery-prev.btn.btn-default(type="button", data-prev="") Prev
