extends layouts/base.html
block body
  .provider.dashboard.container
    .row
      .col-sm-12
        .banner
          -if provider.banner
            img.img-responsive.banner(src="#{provider.banner.url}")
          -else
            img.img-responsive.banner(src="http://placehold.it/1200x350&text=Banner")

          -if provider.avatar
            .thumb-container.large.portrait
              img.img-responsive(src="#{provider.avatar.sm_thumb}")
          -else
            img.img-responsive.portrait(src="http://placehold.it/165x165")

    .row
      .col-sm-6
        h1= provider.business_name
        address
          p #{provider.address.street_1} #{provider.address.street_2}
          p #{provider.address.city}, #{provider.address.state}

        p.phone= provider.phone


      .col-sm-6
        table.table
          thead
            tr
              th Today
              th Open
              th Close

          tbody
            tr
              td Mon
              td 8
              td 9
        .row
          .col-sm-12
            button.btn.btn-cta
              span.glyphicon.glyphicon-star-empty  Fav Us!

    .row.paper-bg
      .col-sm-8.col-sm-offset-2
        ul.payment-methods
          -each method in provider.payment_methods.split(' ')
            li
              img(src="/static/img/icons/#{method}.png")

    .row
      .col-sm-8
        .row
          .col-sm-12
            h2 Our Work
            .row.gallery
            -each pic in provider.gallery.photos
              .col-sm-3
                .thumb-container.small
                  img.img-responsive(src="#{pic.sm_thumb}")
        .row
          .col-sm-12
            h2 Happy Customers
            .row
              .col-sm-12
                h3 Suzy Q <span class="pull-right glyphicon glyphicon-star"> Fav'd!</span>
                p.
                  "loved the service, great work"
            .row
              .col-sm-12
                h3 Jimmy Q <span class="pull-right glyphicon glyphicon-star-empty"> Fav me</span>
                p.
                  "Potato"
            .row
              .col-sm-12
                h3 Samm Q
                p.
                  "I really think this internet thing is going to take off!"
      .col-sm-4
        h2 Menus
        -each menu in provider.menus
          .row
            .col-sm-12
              h3= menu.menu_type
              table.table.salon-menu
                thead
                  tr
                    th Name
                    th Desc
                    th Price

                tbody
                -each item in menu.menu_items
                  tr
                    td Hair Cut
                    td We cut your hair with scissors
                    td 15.00


